In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
Transformed_Housing_Data=pd.read_csv('Transformed_Housing_Data.csv')

In [98]:
Transformed_Housing_Data.head()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,Condition of the House,...,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovated,Years Since Renovation
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,No,0,Fair,...,1180.0,0,63,98178.0,47.5112,-122.257,1340.0,5650,No,0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,No,0,Fair,...,2170.0,400,67,98125.0,47.7210,-122.319,1690.0,7639,Yes,26
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,No,0,Fair,...,770.0,0,85,98028.0,47.7379,-122.233,2720.0,8062,No,0
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,No,0,Excellent,...,1050.0,910,53,98136.0,47.5208,-122.393,1360.0,5000,No,0
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,No,0,Fair,...,1680.0,0,31,98074.0,47.6168,-122.045,1800.0,7503,No,0

In [99]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [100]:
Transformed_Housing_Data=Transformed_Housing_Data.rename(columns={'Sale Price':'Sale_Price'})

In [101]:
Transformed_Housing_Data=Transformed_Housing_Data.rename(columns={'Condition of the House':'Condition_of_the_House'})

In [84]:
Transformed_Housing_Data=Transformed_Housing_Data.rename(columns={'Ever Renovated':'Ever_Renovated'})

In [85]:
Transformed_Housing_Data=Transformed_Housing_Data.rename(columns={'Waterfront View':'Waterfront_View'})

In [86]:
Transformed_Housing_Data.head()

,ID,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront_View,No of Times Visited,Condition_of_the_House,...,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever_Renovated,Years Since Renovation
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,No,0,Fair,...,1180.0,0,63,98178.0,47.5112,-122.257,1340.0,5650,No,0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,No,0,Fair,...,2170.0,400,67,98125.0,47.7210,-122.319,1690.0,7639,Yes,26
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,No,0,Fair,...,770.0,0,85,98028.0,47.7379,-122.233,2720.0,8062,No,0
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,No,0,Excellent,...,1050.0,910,53,98136.0,47.5208,-122.393,1360.0,5000,No,0
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,No,0,Fair,...,1680.0,0,31,98074.0,47.6168,-122.045,1800.0,7503,No,0

In [87]:
Transformed_Housing_Data['Waterfront_View'].unique()

array(['No', 'Yes'], dtype=object)

In [88]:
mod= ols('Sale_Price ~ Condition_of_the_House',data=Transformed_Housing_Data).fit()

In [89]:
Anova_Table=sm.stats.anova_lm(mod,typ=2)

In [90]:
print(Anova_Table)

                              sum_sq       df         F        PR(>F)
Condition_of_the_House  1.441831e+13      4.0  58.25563  5.447605e-49
Residual                1.336752e+15  21604.0       NaN           NaN

In [91]:
mod= ols('Sale_Price ~ Waterfront_View',data=Transformed_Housing_Data).fit()
sm.stats.anova_lm(mod,typ=2)

                       sum_sq       df           F         PR(>F)
Waterfront_View  3.283737e+13      1.0  538.192683  1.275558e-117
Residual         1.318333e+15  21607.0         NaN            NaN

In [92]:
mod= ols('Sale_Price ~ Ever_Renovated',data=Transformed_Housing_Data).fit()
sm.stats.anova_lm(mod,typ=2)

                      sum_sq       df           F        PR(>F)
Ever_Renovated  1.998463e+13      1.0  324.378469  5.419055e-72
Residual        1.331185e+15  21607.0         NaN           NaN

In [61]:
mod= ols('Sale_Price ~ Zipcode',data=Transformed_Housing_Data).fit()
sm.stats.anova_lm(mod,typ=2)

                sum_sq       df          F        PR(>F)
Zipcode   2.503765e+12      1.0  40.112844  2.444308e-10
Residual  1.348666e+15  21607.0        NaN           NaN

In [96]:
import pandas as pd
Transformed_Housing_Data=pd.get_dummies(Transformed_Housing_Data,columns=['Condition_of_the_House'],drop_first=True, dtype=int)

KeyError: "None of [Index(['Condition_of_the_House'], dtype='object')] are in the [columns]"

In [95]:
import pandas as pd
Transformed_Housing_Data = pd.get_dummies(Transformed_Housing_Data, columns=['Condition_of_the_House'], drop_first=True, dtype=int)

KeyError: "None of [Index(['Condition_of_the_House'], dtype='object')] are in the [columns]"

In [63]:
Transformed_Housing_Data.head()

,ID,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront_View,No of Times Visited,Overall Grade,...,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever_Renovated,Years Since Renovation,Condition_of_the_House_Excellent,Condition_of_the_House_Fair,Condition_of_the_House_Good,Condition_of_the_House_Okay
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,No,0,7,...,47.5112,-122.257,1340.0,5650,No,0,False,True,False,False
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,No,0,7,...,47.7210,-122.319,1690.0,7639,Yes,26,False,True,False,False
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,No,0,6,...,47.7379,-122.233,2720.0,8062,No,0,False,True,False,False
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,No,0,7,...,47.5208,-122.393,1360.0,5000,No,0,True,False,False,False
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,No,0,8,...,47.6168,-122.045,1800.0,7503,No,0,False,True,False,False